
@{
    ViewData["Title"] = "Phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="color: red">CHÚC MỪNG BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG</h2>
<p style="color: greenyellow">XIN CẢM ƠN QUÝ KHÁCH</h2>


