@{
    ViewData["Title"] = "Home Page";
}

@*Html.RenderPartialAsync("Banner")*@
<partial name="Banner"></partial>
<!--nut bam-->
<button id="loadAjax" class="btn btn-sm btn-primary">click load book tu partialresult</button>
<!--noi dung duoc load tu patial view vao day-->
<div id="data-form-ajax" class="row">Loading data...</div>
<div class="row">
    <div class="col-md-3">
        <div class="card" >
            <img src="~/images/product/product-1.png"  class="card-img-top" alt="..."/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" >
            <img src="~/images/product/product-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" >
            <img src="~/images/product/product-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/images/product/product-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<hr/>
@section Scripts{
<script>
        $('#loadAjax').click(function () {
            $('#data-form-ajax').load("Book/PopularBook");
        });

</script>

}
